---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Poland B2B statement generator">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-row items-center">
      <img src="/christmas-tree.svg" alt="Christmas tree"></img>
      <h2
        class="relative text-center text-xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Poland B2B statement generator
        <div class="absolute right-0 top-0">
          <img src="/christmas-garland.svg" alt="Christmas garland">
        </div>
      </h2>
    </div>
    <form id="form">
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <label
          for="year"
          class="block text-sm font-medium leading-6 text-gray-900">Year</label
        >
        <select
          id="year"
          required
          class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 appearance-none bg-transparent bg-auto bg-no-repeat bg-right"
          style=`background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");`>
          <option value="">Select Year</option>
          <option value="2024" selected>2024</option>
          <option value="2025">2025</option>
        </select>

        <p>
          <label
            for="month"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Month</label
          >
          <select
            id="month"
            required
            class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 appearance-none bg-transparent bg-auto bg-no-repeat bg-right"
            style=`background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");`>
            <option value="">Select Month</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
          </select>
        </p>
        <p>
          <label
            for="city"
            class="block text-sm font-medium leading-6 text-gray-900"
            >City</label
          >
          <input
            id="city"
            type="text"
            required
            placeholder="Krakow"
            value="Krakow"
            class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </p>
        <p>
          <label
            for="address"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Address</label
          >
          <input
            id="address"
            type="text"
            class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </p>
        <p>
          <label
            for="postalCode"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Postal code</label
          >
          <input
            id="postalCode"
            type="text"
            class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </p>
        <p>
          <label
            for="activity"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Activity</label
          >
          <input
            id="activity"
            type="text"
            placeholder="Software development"
            class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </p>
        <p>
          <label
            for="dayOffs"
            class="block text-sm font-medium leading-6 text-gray-900">
            Day offs (comma separated days of month)
          </label>
          <input
            id="dayOffs"
            type="text"
            placeholder="1,5,21"
            class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </p>
        <div class="mt-3">
          <button
            id="btn"
            type="submit"
            class="w-full bg-violet-500 hover:bg-violet-600 focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white">
            Generate PDF</button
          >
        </div>
        <footer class="mt-10"> 
          <p>
            Found a bug? Reach out &nbsp;
            <a
              href="mailto:sashyn.v@gmail.com"
              class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
              >sashyn.v@gmail.com</a
            >
          </p>
        </footer>
      </div>
    </form>
  </div>
</Layout>
<script>
  /**
   * Initialization
   */
  (function () {
    const date = new Date();

    const year = document.getElementById("year") as HTMLSelectElement;
    year.value = date.getFullYear().toString();

    const monthEl = document.getElementById("month") as HTMLSelectElement;
    monthEl.value = new Date().getMonth().toString();

    const cityEl = document.getElementById("city") as HTMLSelectElement;
    cityEl.value = getValFromLocalStorage("city");
    const address = document.getElementById("address") as HTMLSelectElement;
    address.value = getValFromLocalStorage("address");
    const postalCodeEl = document.getElementById(
      "postalCode"
    ) as HTMLSelectElement;
    postalCodeEl.value = getValFromLocalStorage("postalCode");
    const activityEl = document.getElementById("activity") as HTMLSelectElement;
    activityEl.value = getValFromLocalStorage("activity");
  })();

  /**
   * Returns value from localStorage
   * @param key form key
   */
  function getValFromLocalStorage(key: string) {
    return localStorage.getItem(key) || "";
  }
  /**
   * Click handler
   */
  const btn = document.getElementById("form");
  btn?.addEventListener("submit", function () {
    const year = (document.getElementById("year") as HTMLSelectElement)?.value;
    const month = (document.getElementById("month") as HTMLSelectElement)
      ?.value;
    const city = (document.getElementById("city") as HTMLInputElement)?.value;
    const address = (document.getElementById("address") as HTMLInputElement)
      ?.value;
    const postalCode = (
      document.getElementById("postalCode") as HTMLInputElement
    )?.value;
    const activity = (document.getElementById("activity") as HTMLInputElement)
      ?.value;
    const dayOffs = (document.getElementById("dayOffs") as HTMLInputElement)
      ?.value;

    // Save form values to localStorage
    localStorage.setItem("city", city || "");
    localStorage.setItem("address", address || "");
    localStorage.setItem("postalCode", postalCode || "");
    localStorage.setItem("activity", activity || "");

    const url = new URLSearchParams();
    url.append("year", year);
    url.append("month", month);
    url.append("city", city);
    url.append("address", address);
    url.append("postalCode", postalCode);
    url.append("activity", activity);
    url.append("dayOffs", dayOffs);
    window.open(`./doc?${url.toString()}`);
  });
</script>
